body {
  font: 24px/1.6 Helvetica;
  width: 800px;
  margin: 0 auto;
}
code {
  font-size: 66%;
  overflow: auto;
}
pre, code {
  display: block;
  background: #F0F0F0;
  padding: 0.5em;
}
figure {
  display: block;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
figcaption {
  font-style: italic;
  text-align: center;
  color: gray;
}
